/* Tooltip styling for Dark Positron layer (white text) */
.dark-tooltip {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    color: white;  /* White text for dark background */
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black; /* Black shadow for better readability */
    pointer-events: none;
    box-shadow: none !important;
}

/* Tooltip styling for light basemaps (black text) */
.light-tooltip {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    color: black;  /* Black text for light background */
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px 1px 2px white; /* White shadow for readability */
    pointer-events: none;
    box-shadow: none !important;
}

.leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before, 
.leaflet-tooltip-left:before, 
.leaflet-tooltip-right:before {
    display: none !important;     /* Hide the tooltip's pointer (triangle) */
}

.filter-control select {
    width: 150px;
    padding: 4px;
}

/* Responsive filter control */
.filter-control {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    max-width: 250px;
    font-size: 14px;
}

/* Add responsiveness using media queries */
@media only screen and (max-width: 768px) {
    /* On smaller screens, adjust the filter control size */
    .filter-control {
        max-width: 90%;
        font-size: 12px;
    }

    /* Make the map height smaller on small devices */
    html, body, #map {
        height: 100vh;  /* Viewport height on mobile */
    }
}

@media only screen and (max-width: 480px) {
    /* Further adjustments for smaller devices like phones */
    .filter-control {
        font-size: 10px;
        padding: 5px;
        max-width: 80%;
    }
}

.custom-search {
    position: relative;
}

.search-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
    z-index: 1000;
}

.search-suggestion {
    padding: 5px 10px;
    cursor: pointer;
}

.search-suggestion:hover {
    background-color: #f0f0f0;
}