/* Tooltip styling for Dark Positron layer (white text) */
.dark-tooltip {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    color: white;  /* White text for dark background */
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black; /* Black shadow for better readability */
    pointer-events: none;
    box-shadow: none !important;
}

/* Tooltip styling for light basemaps (black text) */
.light-tooltip {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    color: black;  /* Black text for light background */
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px 1px 2px white; /* White shadow for readability */
    pointer-events: none;
    box-shadow: none !important;
}

.leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before, 
.leaflet-tooltip-left:before, 
.leaflet-tooltip-right:before {
    display: none !important;     /* Hide the tooltip's pointer (triangle) */
}

.filter-control select {
    width: 150px;
    padding: 4px;
}

/* Responsive filter control */
.filter-control {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    max-width: 250px;
    font-size: 14px;
}

#show-all-btn {
    padding: 4px 10px;
    font-size: 12px;
    cursor: pointer;
}