/* Responsive Styles */
@media screen and (max-width: 768px) {
    .panel-container {
        max-width: none;
        width: calc(100% - 20px);
        top: 10px;
        right: 10px;
        left: 10px;
    }

    .unified-control,
    .highest-peaks-panel,
    #wikipedia-panel {
        width: 100%;
    }

    .input-button-group {
        flex-direction: column;
    }

    .custom-button {
        margin-left: 0;
        margin-top: 5px;
    }

    .opacity-slider-container {
        padding-left: 0;
        margin-left: 0;
    }

    .custom-slider::-webkit-slider-thumb {
        width: 28px;
        height: 28px;
    }
    
    .custom-slider::-moz-range-thumb {
        width: 28px;
        height: 28px;
    }

    .leaflet-control-layers {
        min-width: 200px;
    }

    .leaflet-right {
        width: 100%;
    }

    .popup-content {
        width: 95%;
        margin: 10% auto;
    }
}